APScheduler==3.6.3
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.7
cli-helpers==2.2.0
click==8.0.3
colorama==0.4.4
configobj==5.0.6
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
flake8==3.8.4
greenlet==1.1.2
idna==3.3
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.10
jupyter-core==4.7.0
kiwisolver==1.3.2
matplotlib==3.4.3
mccabe==0.6.1
msgpack==1.0.2
numpy==1.21.2
parso==0.8.1
pendulum==2.1.2
pgcli==3.2.0
pgspecial==1.13.0
pickleshare==0.7.5
Pillow==8.3.2
prompt-toolkit==3.0.10
psycopg2==2.9.1
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.3
pynvim==0.4.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.19.1
python-telegram-bot==13.7
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pywin32==300
pyzmq==20.0.0
requests==2.26.0
setproctitle==1.2.2
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.2
tabulate==0.8.9
toml==0.10.2
tornado==6.1
traitlets==5.0.5
tzdata==2021.4
tzlocal==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
zope.interface==5.4.0
